dostoevsky==0.6.0
faster_whisper==0.7.1
librosa==0.10.1
more_itertools==10.1.0
moviepy==1.0.3
nltk==3.8.1
notebook==7.0.6
numba==0.57.1
numpy==1.23.5
openpyxl==3.1.2
pandas==2.0.3
pydub==0.25.1
pymorphy3==1.2.1
pytest==7.4.3
regex==2023.8.8
scipy==1.11.3
setuptools==65.5.0
tensorflow==2.12.0
tensorflow_intel==2.12.0
tiktoken==0.5.1
timeline==0.0.7
torch==2.1.0
tqdm==4.66.1
transformers==4.35.0
triton==2.1.0
